* {
  box-sizing: border-box;
  box-sizing: unset;
  /* margin: 0 auto; */
}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

body {
  /* background-color: rgba(2, 15, 41, 0.988); */
  /* background-image: linear-gradient( rgba(4, 15, 37, 0.991), rgba(29, 39, 59, 0.988)); */
  background-image: url("../src/images/dark-green-texture.jpg");
  background-size: contain;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 400;
  color: white;
}
h2 {
  font-size: 35px;
  font-weight: 600;
  padding-left: 8px;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.flex {
  display: flex;
  flex-wrap: wrap;
}
.flex-sa {
  display: flex;
  justify-content: space-around;
}
.flex-sb {
  display: flex;
  justify-content: space-between;
}
.flex-center {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.flex-col-center {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}
/* .flex-col {
  display: flex;
  flex-direction: column;
} */

.answer-prompt {
  font-size: 26px;
  font-style: italic;
  position: fixed;
  bottom: 130px;
  left: 800px;
  width: 400px;
  background-color:greenyellow;
  border: solid 4px black;
  border-radius: 15px;
  color: black;
}

.image {
  margin-top: 20px;
  width: 75%;
}

.header-image {
  padding-top: 10px;
  padding-left: 10px;
  width: 10%;
  /* width: 130px;
  height: 110px; */
}

.category-card {
  width: 200px;
  height: 210px;
  font-size: 25px;
  font: weight 800;
  color: white;
  background-image: linear-gradient( rgba(51, 78, 133, 0.891), rgba(2, 15, 41, 0.688));
  border: solid 4px rgba(86, 104, 141, 0.651);
  border-radius: 15px;
  margin: 15px;
  padding: 3px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

.question-card {
  display: flex;
  font-size: 25px;
  font: weight 800;
  color: white;
  background-image: linear-gradient( rgba(51, 78, 133, 0.891), rgba(2, 15, 41, 0.988));
  border: solid 4px rgba(86, 104, 141, 0.651);
  border-radius: 15px;
  margin: 20px;
  padding: 10px;
  padding-bottom: 30px;
}
.category-card div {
  /* height: 40px; */
  font-size: 20px;
}
.category-button {
  font-size: 24px;
  color: white;
  background-color: rgba(2, 1, 16, 0.902);
  border: solid 2px black;
  border-radius: 15px;
  margin: 5px;
  margin-top: 15px;
  margin-bottom: 5px;
  padding: 8px;
  display: flex;
  text-align: center;
  vertical-align: center;
}
.return-categories {
  font-size: 30px;
}
.category-button:hover {
  text-underline-position: below;
  background-color: rgba(2, 1, 16, 0.502);

}

.circle, .circle-fill {
  width: 18px;
  height: 18px;
  background-color:rgba(245, 233, 239, 0.981);
  border: solid 1px black;
  border-radius: 50px;
  margin-right: 2px;
  margin-top: 8px;
  /* change these for mobile */
  /* margin-bottom: 8px; */
}
.circle-fill {
  background-color:rgb(233, 245, 16);
}
.header {
  display: flex;
  height: 15vh;
  background-image: linear-gradient( rgba(51, 78, 133, 0.851), rgba(2, 15, 41, 0.788));
  padding-left: 30px;
  color: white;
  padding-top: 10px;
}

 .header-title {
  font-size: 70px;
  padding-top: 40px;
  display: flex;
  align-content: center;
  padding-right: 15px;
}

.question-block {
  /* height: 90vmax; */
  padding-top: 40px;
}

.question-title {
  font-size: 25px;
  font-weight: 600;
  padding: 8px;
  width: 80%;
}

.answer-block {
  margin-left: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 24px;
}
h2 {
  font-size: 33px;
}
/* .dropdown-menu {
  background-color: black;
  transform:none;
} */
.dropdown-item {
  width: auto;
}
#dropdown-basic {
  background-color: rgba(0, 0, 0, 0.281);
}

.level-easy, .level-medium, .level-hard {
  border: solid 2px black;
  border-radius: 10px;
  padding: 4px;
  font-size: 20px;
}

.levels {
  font-size: 25px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.btn {
  background-color: black;
  font-size: 18px;
}
@media (max-width: 480px) {
  .header {
    display: flex;
    height: 10vh;
    background-image: linear-gradient( rgba(51, 78, 133, 0.851), rgba(2, 15, 41, 0.988));
    padding-left: 10px;
    color: white;
    padding-top: 5px;
  }
  .header-title {
    font-size: 40px;
    margin-bottom:0;
    margin-top:0;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .question-block {
    padding-top: 10px;
  }
  .question-title {
    font-size: 18px;
    width: 90%;
  }
  .answer-block {
    margin-left: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 19px;
  }
  h2 {
    font-size: 23px;
  }
  .level-easy, .level-medium, .level-hard {
    font-size: 13px;
    /* margin-left: 25px; */
    display: block;
    margin-left: 0;
  }
}



.modal-content {
  background-color:rgba(69, 245, 16, 0.899);
  color: black;
}

.modal {
  position: fixed;
  top: 40vh;
  left: 0;
  width: 100%;
}

.animate__animated.animate__fadeInLeft {
  --animate-duration: 2s;
}
.animate__animated.animate__fadeInUp {
  --animate-duration: 1500ms;
}
.animate__animated.animate__rotateInUpRight {
  --animate-duration: 1s;
}

.animate__animated.animate__rotateInUpLeft {
  --animate-duration: 1s;
}

.animate__animated.animate__bounceIn {
  --animate-duration: 2s;
}

.difficulty-level {
  font-size: 22px;
  margin-left: 30px;
  margin-right: 20px;
  align-items: center;
  margin-top: 40px;
  /* justify-content: flex-end; */
}

.difficulty-value {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 22px;
  /* width: 120px; */
}


.level-easy {
  background-color: green; 
}
.level-medium {
  background-color: orange;
}

.level-hard {
  background-color: red;
}
